body {
    background-color: #ffffff;
    text-decoration: none;

    background-position: center;
    background-repeat: no-repeat;
    background-image: url("C:\Users\Jamai\OneDrive - ROC Nijmegen\school 2025\project weken\project week 2\project-week-2\images\placeholder.jpg");
    background-attachment: fixed;
    background-size: cover;
    z-index: 999;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

ul,
li {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 50px;
}

.midle-down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
    margin: auto;
}